In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('cryptodata(May2023).csv')

In [3]:
df

              ID  Rank Symbol        Name    Price(USD)    Max Supply
0        bitcoin     1    BTC     Bitcoin  26954.870017  2.100000e+07
1       ethereum     2    ETH    Ethereum   1817.537094           NaN
2         tether     3   USDT      Tether      1.001184           NaN
3   binance-coin     4    BNB         BNB    310.232858  1.668011e+08
4       usd-coin     5   USDC    USD Coin      1.000857           NaN
..           ...   ...    ...         ...           ...           ...
95    theta-fuel    96  TFUEL  Theta Fuel      0.043832           NaN
96      compound    97   COMP    Compound     35.680349  1.000000e+07
97      balancer    98    BAL    Balancer      5.347950  9.615070e+07
98          celo    99   CELO        Celo      0.530476  1.000000e+09
99          ankr   100   ANKR        Ankr      0.026080  1.000000e+10

[100 rows x 6 columns]

In [4]:
df=df.fillna(value=0)

In [5]:
df

              ID  Rank Symbol        Name    Price(USD)    Max Supply
0        bitcoin     1    BTC     Bitcoin  26954.870017  2.100000e+07
1       ethereum     2    ETH    Ethereum   1817.537094  0.000000e+00
2         tether     3   USDT      Tether      1.001184  0.000000e+00
3   binance-coin     4    BNB         BNB    310.232858  1.668011e+08
4       usd-coin     5   USDC    USD Coin      1.000857  0.000000e+00
..           ...   ...    ...         ...           ...           ...
95    theta-fuel    96  TFUEL  Theta Fuel      0.043832  0.000000e+00
96      compound    97   COMP    Compound     35.680349  1.000000e+07
97      balancer    98    BAL    Balancer      5.347950  9.615070e+07
98          celo    99   CELO        Celo      0.530476  1.000000e+09
99          ankr   100   ANKR        Ankr      0.026080  1.000000e+10

[100 rows x 6 columns]

In [6]:
df.to_csv('Crypto Dataset (May2023).csv')